/* Global Variables */
:root {
	--white: #FFF;
	--navbar-height: 2.7rem;
	--chat-form-height: 8rem;
	--sidenav-width: 16.25rem;
	--primary-gray: rgb(52, 53, 65);
	--primary-dark: rgb(32, 33, 35);
	--light-gray: rgb(247, 247, 248);
	--secondary-gray: rgb(217, 217, 227);
}

/* Mobile Navbar */
.mobile__nav {
	width: 100%;
	display: flex;
	position: fixed;
	color: var(--white);
	align-items: center;
	box-sizing: border-box;
	padding: 0.5rem 0.75rem;
	height: var(--navbar-height);
	justify-content: space-between;
	background-color: var(--primary-gray);
}
#burger {
	width: 25px;
	cursor: pointer;
}
.mobile__nav > span {
	cursor: pointer;
}

/* Sidenav */
.sidenav {
	top: 0;
	z-index: 1;
	width: 75%;
	left: -100%;
	display: flex;
	height: 100%;
	padding: 0.5rem;
	position: fixed;
	overflow-y: auto;
	font-size: 0.875rem;
	box-sizing: border-box;
	flex-direction: column;
	transition: left 200ms ease;
	background-color: var(--primary-dark);
}
.sidenav__link {
	gap: 6px;
	display: flex;
	cursor: pointer;
	padding: 0.4rem;
	border-radius: 4px;
	color: var(--white);
	align-items: center;
	text-decoration: none;
	transition: background-color 200ms ease;
}
a[name="new-chat-button"] {
	border: 1px solid var(--primary-gray);
}
a[name="new-chat-button"]:hover {
	background-color: var(--primary-gray);
}
a[name="conversation-button"] {
	margin-block: 0.2rem;
	padding-block: 0.75rem;
}
a[name="conversation-button"]:hover {
	background-color: var(--primary-gray);
}
a[name="conversation-button"]::before {
	content: url("../images/chat.svg");
}
a[name="conversation-button"]::after {
	margin-left: auto;
	content: url("../images/trash.svg");
}
a[name="api-modal-button"] {
	margin-top: auto;
	font-weight: 700;
	justify-content: center;
	color: var(--primary-dark);
	background-color: var(--secondary-gray);
}
a[name="api-modal-button"]:hover {
	background-color: var(--light-gray);
}
#overlay {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: -5;
	height: 100%;
	position: fixed;
	background-color: rgb(0, 0, 0);
}

/* API Key Modal */
#api__modal {
	gap: 12px;
	opacity: 0;
	line-height: 1.5;
	max-width: 300px;
	position: relative;
	padding: 3rem 2rem;
	text-align: center;
	border-radius: 12px;
	transition: all 200ms ease;
	border: 1px solid var(--primary-gray);
}
#api__modal::backdrop {
	background-color: hsla(0, 0%, 0%, 0.7);
}
#api__modal__cross__icon {
	top: 6px;
	right: 6px;
	width: 20px;
	cursor: pointer;
	position: absolute;
}
#api__modal h1 {
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 1rem;
}
#api__modal a {
	font-size: 0.75rem;
}
#api__modal p {
	font-size: 0.75rem;
	margin-block: 1.25rem;
}
.api__modal__form {
	gap: 24px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.api__modal__form input {
	width: 100%;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0.5rem 0.75rem;
}
.api__modal__form button {
	width: 50%;
	cursor: pointer;
	border-radius: 4px;
	color: var(--white);
	padding: 0.5rem 0.75rem;
	background-color: var(--primary-gray);
}

/* Chat */
.chat {
	width: 100%;
	z-index: -1;
	position: fixed;
	overflow-y: auto;
	top: var(--navbar-height);
	height: calc(100% - var(--navbar-height) - var(--chat-form-height));
}
.chat__form {
	bottom: 0;
	width: 100%;
	padding: 1rem;
	position: fixed;
	height: fit-content;
	box-sizing: border-box;
	background-color: var(--white);
	min-height: var(--chat-form-height);
	border-top: 1px solid var(--secondary-gray);
}
.chat__input__container {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	padding: 0.75rem 0.5rem;
	justify-content: space-between;
	background-color: var(--white);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4)
}
#chat__submit__icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.chat__input {
	border: 0;
	width: 100%;
	resize: none;
	height: 28px;
	outline: none;
	line-height: 1.5;
	max-height: 200px;
	font-size: 1.05rem;
}
.chat__input:disabled {
	background-color: #e7e7e7;
}
.chat__notice {
	padding: 1rem;
	text-align: center;
	font-size: 0.75rem;
}
/* New Chat */
section.chat__content {
	width: 100%;
	text-align: center;
	padding: 2rem 1rem;
	box-sizing: border-box;
}
section.chat__content h1 {
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 2.5rem;
}
section.chat__content h2 {
	font-weight: 700;
	font-size: 1.25rem;
}
.features {
	gap: 12px;
	margin: auto;
	display: flex;
	max-width: 475px;
	line-height: 1.5;
	margin-block: 1rem;
	flex-direction: column;
}
.features li {
	padding: 0.8rem;
	font-size: 0.875rem;
	height: fit-content;
	border-radius: 0.5rem;
	background-color: var(--light-gray);
}
.features__container h2 {
	gap: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.features__container h2 span img {
	width: 25px;
	height: 25px;
}
.features__container:nth-child(2) li:hover {
	cursor: pointer;
	background-color: var(--secondary-gray);
}
/* Exisiting Chat */
div.chat__content {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.user__message__container, 
.bot__message__container {
	word-break: break-word;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bot__message__container {
	background-color: var(--light-gray);
}
.user__message,
.bot__message {
	margin: auto;
	display: flex;
	padding: 1rem;
	max-width: 740px;
	line-height: 1.5;
	padding-block: 1.5rem;
}
.user__message::before {
	margin-right: 1rem;
	content: url("../images/user.svg");
}
.bot__message::before {
	margin-right: 1rem;
	content: url("../images/chatGPT.svg");
}

@media (min-width: 769px) {
	/* Mobile Nav */
	.mobile__nav {
		display: none;
	}

	/* Sidenav */
	.sidenav {
		left: 0;
		width: var(--sidenav-width);
	}
	#overlay {
		display: none;
	}

	/* Chat */
	.chat {
		top: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		left: var(--sidenav-width);
		width: calc(100% - var(--sidenav-width));
		height: calc(100% - var(--chat-form-height));
	}
	section.chat__content {
		gap: 12px;
		height: 100%;
		display: grid;
		max-width: 740px;
		grid-template-areas: 
			"title title title"
			"features1 features2 features3"
		;
	}
	section.chat__content h1 {
		grid-area: title;
		align-self: end;
		margin-bottom: 5rem;
	}
	.features__container h2 {
		flex-direction: column;
	}
	.features__container:nth-of-type(1) {
		grid-area: features1;
	}
	.features__container:nth-of-type(2) {
		grid-area: features2;
	}
	.features__container:nth-of-type(3) {
		grid-area: features3;
	}
	.chat__form {
		border-top: 0;
		left: var(--sidenav-width);
		width: calc(100% - var(--sidenav-width));
	}
	.chat__input__container {
		margin: auto;
		max-width: 740px;
	}
}